<%- include('header'); -%>

<div class="blogs content">
    <h2>specialtys</h2>

    <% if (blogs.length > 0) { %>
      <% blogs.forEach(blog => { %>
        <a class="single" href="/specialtydetails/<%= blog._id %>">
          <h3 class="title"><%= blog.name %></h3>
          <p class="snippet"><%= blog.specialty %></p>
        </a>
      <% }) %>
    <% } else { %>
      <p>There are no specialtys to display...</p>
    <% } %>
    
  </div>
  <a href="/createspecialty" class=" btn btn-info"><img src="/book-medical-solid.svg" width="30px" height="30px">createspecialtys</a>

  <%- include('footer'); -%>